.main-content {
	margin-top: 60px;
}
.queue {
	.queue-form {
		margin-bottom: 50px;
	}
	.queue-table {
		.button-column {
			span {
				cursor: pointer;
			}
		}
	}
	.presets {
		margin: 10px 0 10px 0;
		h4 {
			margin-bottom: 5px;
		}
		button {
			margin-right: 5px;
		}
	}
}
